<nav class="g-nav" id="g-nav">
  <div class="g-nav-inner">
    <a href="{{ url_for('/') }}" class="g-nav-logo">{{ config.author }}</a>
    <ul class="g-nav-links">
      <li><a href="{{ url_for('/') }}" {% if is_home() %}class="active"{% endif %}>home</a></li>
      <li><a href="{{ url_for('archives/') }}">archive</a></li>
      <li><a href="{{ url_for('atom.xml') }}">rss</a></li>
    </ul>
  </div>
</nav>
